@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.header-bg {
    background-color: #1F2937;
    padding: 10px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    margin: 20px 80px;
}

.head-link {
    display: flex;
}

.container1-bg {
    background-color: #1F2937;
    padding: 20px 0px;
    height: 20%;
}

.container1-content {
    display: flex;
    margin: 80px;
    justify-content: center;
}

.left-content {
    margin-right: 20px;
}

.container1-button {
    margin-top: 10px;
}

.container2-bg {
    background-color: white;
    height: 20%;
}

.card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    margin-bottom: 60px;
    gap: 32px;
    justify-content: center;
}

.container2-card{
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    width: 100px;
    height: 150px;
    border: 1px solid #3882F6;
    border-radius: 5px;
}

.card-descrip {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container3-bg {
    background-color: #E5E7EB;
}

.container3 {
    display: flex;
    padding: 70px 120px;
    flex-direction: column;
}

.subcontainer3-2 {
    display: flex;
    justify-content: flex-end;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.writer {
    color: #1F2937;
    font-weight: 900;
    margin-top: 20px;
}

.container4-bg {
    background-color: white;
    height: 20%;
}

.contact-box {
    background-color: #3882F6;
    margin: 80px 100px;
    padding: 30px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.left-content4 {
    display: flex;
    flex-direction: column;
    color: white;
}

.box-header {
    font-size: 20px;
}

.box-content {
    color: #E5E7EB;
    font-size: 14px;
}

.right-content4 {
    display: flex;
    align-items: center;
}

.right-content4 button {
    border: 1px solid white;
}

.topic {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.description {
    font-size: 18px;
    color: #E5E7EB;
}

.card-header {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 10px 24px;
    font-size: 16px;
}

.footer-bg {
    background-color: #1F2937;
}

.footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 20px 0;
}